<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        ul.nav.nav-pills
            li.nav-item
                a.nav-link(href="/", class=(path==='/' ? 'active': '')) Shop
            li.nav-item
                a.nav-link(href="/admin/add-product", class=(path==='/admin/add-product' ? 'active': '')) Add Product
             
        div.container
            block content

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")